@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600;700&display=swap') ;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  background-image: url('./oogha.com_wallpaper.jpg');
  background-size: cover;
}

.container {
  border: 1px solid white;
  padding: 20px;
}

#title {
  color: black;
  font-family: Caveat, cursive, sans-serif;
  font-size: 90px;
  padding-bottom: 1%;
}

#red {
  background-color: red;
  border: 1px solid black;
}

#blue {
  background-color: blue;
  border: 1px solid black;
}

#green {
  background-color: green;
  border: 1px solid black;
}

#color-palette {
  display: inline-block;
  padding-bottom: 0.5%;
  padding-top: 0.5%;
}

.color {
  border-radius: 50%;
}

.color:hover {
  cursor: pointer;
}

button {
  border-radius: 5px;
  padding: 4px;
}

input {
  border-radius: 5px;
  padding: 4px;
}

#button-container {
  padding-bottom: 1%;
}

#clear-board {
  font-size: 20px;
  margin: 1%;
}

#board-size {
  font-size: 20px;
  margin: 1%;
}

#generate-board {
  font-size: 20px;
  margin: 1%;
}

.pixel-line {
  height: 40px;
}
